<div class="register_form">
    <h5>Create Account</h5>
    <div class="alert alert-success" role="alert" *ngIf="user['registered']">
        User Registered Successfully
    </div>
    <form [formGroup]="registerForm">
        <!-- First name  -->
        <div class="row">
            <div class="col l12 m12 s12">
                <label>First Name</label>
                <input type="text" formControlName="first_name" class="text_input form-control" maxlength="60"/>
                <div [ngClass]="{
                'has-danger':registerForm.controls.first_name.errors.required && (registerForm.controls.first_name.dirty || registerForm.controls.first_name.touched) }"
                    *ngIf="registerForm.controls.first_name.errors && registerForm.controls.first_name.errors.required && (registerForm.controls.first_name.dirty || registerForm.controls.first_name.touched)">
                   First Name is required.
                </div>
                <div [ngClass]="{
                    'has-danger':registerForm.controls.first_name.errors.minlength && (registerForm.controls.first_name.dirty || registerForm.controls.first_name.touched) }"
                            *ngIf="registerForm.controls.first_name.errors && registerForm.controls.first_name.errors.minlength && (registerForm.controls.first_name.dirty || registerForm.controls.first_name.touched)">
                            First Name minimum length should be 3.
                </div>
            </div>
        </div>

        <!-- Last Name -->
        <div class="row">
            <div class="col l12 m12 s12">
                <label>Last Name</label>
                <input type="text" formControlName="last_name" class="text_input form-control" maxlength="60"/>
                <div [ngClass]="{
                'has-danger':registerForm.controls.last_name.errors.required && (registerForm.controls.last_name.dirty || registerForm.controls.last_name.touched) }"
                    *ngIf="registerForm.controls.last_name.errors && registerForm.controls.last_name.errors.required && (registerForm.controls.last_name.dirty || registerForm.controls.first_name.touched)">
                   Last Name is required.
                </div>

                <div [ngClass]="{
                    'has-danger':registerForm.controls.last_name.errors.minlength && (registerForm.controls.last_name.dirty || registerForm.controls.last_name.touched) }"
                            *ngIf="registerForm.controls.last_name.errors && registerForm.controls.last_name.errors.minlength && (registerForm.controls.last_name.dirty || registerForm.controls.last_name.touched)">
                            Last Name minimum length should be 1.
                </div>
            </div>
        </div>
        <!-- Email -->
        <div class="row">
            <div class="col l12 m12 s12">
                <label>Email</label>
                <input type="text" formControlName="email" class="text_input form-control" maxlength="60"/>
                <div [ngClass]="{
                'has-danger':registerForm.controls.email.invalid && !registerForm.controls.email.errors.required && (registerForm.controls.email.dirty || registerForm.controls.email.touched) }"
                    *ngIf="registerForm.controls.email.errors && registerForm.controls.email.invalid && !registerForm.controls.email.errors.required && (registerForm.controls.email.dirty || registerForm.controls.email.touched)">
                    Email is Invalid
                </div>

                <div [ngClass]="{
                'has-danger':registerForm.controls.email.errors.required && (registerForm.controls.email.dirty || registerForm.controls.email.touched) }"
                    *ngIf="registerForm.controls.email.errors && registerForm.controls.email.errors.required && (registerForm.controls.email.dirty || registerForm.controls.email.touched)">
                    Email is required.
                </div>
            </div>
        </div>
        <!-- Password -->
        <div class="row">
            <div class="col l12 m12 s12">
                <label>Password</label>
                <input type="password" formControlName="password" class="text_input form-control" maxlength="20" />

                <div [ngClass]="{
            'has-danger':registerForm.controls.password.errors.required && (registerForm.controls.password.dirty || registerForm.controls.password.touched) }"
                    *ngIf="registerForm.controls.password.errors && registerForm.controls.password.errors.required && (registerForm.controls.password.dirty || registerForm.controls.password.touched)">
                    Password is required.
                </div>

                <div [ngClass]="{
            'has-danger':registerForm.controls.password.errors.minlength && (registerForm.controls.password.dirty || registerForm.controls.password.touched) }"
                    *ngIf="registerForm.controls.password.errors && registerForm.controls.password.errors.minlength && (registerForm.controls.password.dirty || registerForm.controls.password.touched)">
                    Password minimum length should be 8.
                </div>
            </div>
        </div>

        <!-- Confirm password -->
        <div class="row">
            <div class="col l12 m12 s12">
                <label>Confirm Password</label>
                <input type="password" formControlName="confirm_password" class="text_input form-control" maxlength="20" />

                <div [ngClass]="{
            'has-danger':registerForm.controls.confirm_password.errors.required && (registerForm.controls.confirm_password.dirty || registerForm.controls.confirm_password.touched) }"
                    *ngIf="registerForm.controls.confirm_password.errors && registerForm.controls.confirm_password.errors.required && (registerForm.controls.confirm_password.dirty || registerForm.controls.confirm_password.touched)">
                    Confrim password is required.
                </div>

                <div [ngClass]="{
            'has-danger':registerForm.controls.confirm_password.errors.minlength && (registerForm.controls.confirm_password.dirty || registerForm.controls.confirm_password.touched) }"
                    *ngIf="registerForm.controls.confirm_password.errors && registerForm.controls.confirm_password.errors.minlength && (registerForm.controls.confirm_password.dirty || registerForm.controls.confirm_password.touched)">
                    Confirm password minimum length should be 8.
                </div>

                <div [ngClass]="{'has-danger':registerForm.controls['confirm_password'].touched &&
                        registerForm.controls['confirm_password'].errors &&
                        registerForm.controls['confirm_password'].errors.mismatch && 
                        !registerForm.controls['confirm_password'].errors.required}"
                        *ngIf="registerForm.controls['confirm_password'].touched &&
                        registerForm.controls['confirm_password'].errors &&
                        registerForm.controls['confirm_password'].errors.mismatch && 
                        !registerForm.controls['confirm_password'].errors.required"
                        >Confirm password should match password</div>
            </div>
        </div>

        <span *ngIf="user['isUserExist']" class="has-danger">User already Exist</span>
        <div class="row">
            <div class="col col l4 m4 s12 pr0 offset-md-8 text-right">
                <button type="submit" [ngClass]="{'btn-success':!registerForm.invalid}" [disabled]="registerForm.invalid"
                (click)="register()" class="custom_btn btn right red mr10">Register</button>
                <button type="submit" class="custom_btn btn btn-warning" (click)="cancel()">
                    Cancel
                </button>
            </div>
        </div>
    </form>

</div>